/* Global variables */
:root {
  /* 8pt grid */
  --pt8: 0.5rem;
  /* Transitions */
  --ease-out-expo: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  --ease-out-expo-slow: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Flex */
.flx {
  display: flex;
}

.flx-ai-c {
  align-items: center;
}

.flx-jc-c {
  justify-content: center;
}

.flx-jc-fs {
  justify-content: flex-start;
}

.flx-jc-fe {
  justify-content: flex-end;
}

body {
  font-family: "MinecraftiaRegular";
  font-size: x-large;
  color: rgb(0, 0, 0);

  /* main background */
  background: url(../Assets/Images/background/bg_whitetown.jpg) no-repeat center
    center fixed;
  background-size: cover;
}

/* nav bar */
.nav-link {
  margin-right: 1em !important;
}

/*
NOTE: Several css properties include the !important property to overide Bootstrap's css.
*/
header {
  background-image: url(../Assets/Images/minecraft_builds/MC_RajamanalaStadium.png);
  background-repeat: none;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
}

header::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

header .container {
  position: relative;
  z-index: 2;
  padding: calc(var(--pt8) * 12) calc(var(--pt8) * 3);
}

header h1 {
  font-weight: bold;
  margin-bottom: calc(var(--pt8) * 4);
}

header h1,
header h4 {
  color: #ffffff;
}

header .viewmore {
  background-color: #47bb2a !important;
  color: #ffffff;
  border-color: #47bb2a;
  /* Font */
  text-transform: uppercase;
}

header .viewmore::after {
  background-color: #3ca123;
}

.viewmore i {
  transition: var(--ease-out-expo);
}

header .viewmore:hover.viewmore i {
  transform: rotate(-90deg);
}

.projectsWrapper {
  padding: calc(var(--pt8) * 12) calc(var(--pt8) * 3);
}

.projects {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: calc(var(--pt8) * 6);
}

.projects h3 {
  font-size: 1.25rem;
  margin-bottom: calc(var(--pt8) * 4);
}

.projects img {
  display: block;
  width: 100%;
}

.projects .imgWrapper {
  position: relative;
  border: 3px solid var(--bs-dark);
  box-shadow: 8px -8px 0 0 var(--bs-dark);
  overflow: hidden;
}

.projects .lead {
  /* Font */
  font-size: 1rem;
  /* Overlay styling */
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  background-color: rgba(33, 37, 41, 0.9);
  color: #ffffff;
  padding: 1rem 2rem;
}

.projects img {
  display: block;
  width: 100%;
  transition: var(--ease-out-expo-slow);
}

.projects:hover.projects img {
  /* Zoom-in effect */
  transform: scale(1.3);
}

.viewmore {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 3rem !important;
  background-color: #47bb2a !important;
  /* Font */
  font-size: 0.875rem !important;
  color: #ffffff;
  border-color: #47bb2a;
}

.viewmore:hover {
  background-color: #47bb2a !important;
}

.viewmore span {
  position: relative;
  z-index: 3;
}

.viewmore:hover.viewmore span {
  color: #ffffff;
}

.viewmore::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /* Transition */
  transition: var(--ease-out-expo);
}

.viewmore:hover:after {
  width: 100%;
}

@media (max-width: 660px) {
  .projects .lead {
    width: 100%;
  }
}

@media (max-width: 770px) {
  header h1,
  header h4 {
    text-align: center;
  }

  header .viewmore {
    width: 100%;
  }
}

/*Apple Watch (Parrity) 38mm 40mm 42mm*/
@media (max-width: 400px) {
  header h1,
  header h4 {
    text-align: center;
  }

  header .viewmore {
    width: 100%;
  }
}
