/* Global variables */
:root {
  /* 8pt grid */
  --pt8: 0.5rem;
  /* Transitions */
  --ease-out-expo: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  --ease-out-expo-slow: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}



.index-news article{
  width: auto;
  background-color:rgb(189, 189, 189);
  border-radius: 25px;
  overflow: auto;
}
.center {
  text-align: center;

  
}
/*change the width and height as well as img url will leave this for the person reviewing it.*/
.news-img{
  width: 20%;
  height: 100px;
  background-image: url('');
  
  
}


/* Flex */
.flx {
  display: flex;
}

.flx-ai-c {
  align-items: center;
}

.flx-jc-c {
  justify-content: center;
}

.flx-jc-fs {
  justify-content: flex-start;
}

.flx-jc-fe {
  justify-content: flex-end;
}

body {
  font-family: "MinecraftiaRegular";
  /* font-weight: 1000; */
}
.navbar {
  background: #537b3f;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.footer_icon {
  margin-left: auto;
  margin-right: auto;
  width: 3em;
  font-size: 28px;
  padding-top: 2px;
  padding-bottom: 16px;
  color: #000;
}
.footer_icon:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
footer {
  margin: 0;
  background-color: var(--nav-bar-black);
  color: rgba(26, 24, 24, 0.8);
  text-align: center;
  padding: 1.85em;
}
.heading,
.info,
.btn,
.images,
.mcbuild_pic,
.mcbuild_info {
  margin-left: 5px;
}

.fa-discord {
  color: #7289da;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github {
  color: #24292e;
}

.fa-youtube {
  color: #ff0000;
}

.fa-twitter {
  color: #1da1f2;
}

.slider {
  position: relative;
  background: #000116;
  width: 800px;
  min-height: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2 {
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p {
  font-size: 1em;
  font-weight: 400;
}

.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
  background: #4285f4;
}

@media (max-width: 900px) {
  .slider {
    width: 100%;
    margin-left: 3px;
  }

  .slider .slide .info {
    position: relative;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .slider .slide .info h2 {
    font-size: 1.8em;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 8px;
  }

  .slider .slide .info p {
    font-size: 0.9em;
  }
}

header {
  background-image: url(./Assets/Images/minecraft_builds/MC_SingaporeSkyline_1.png);
  background-repeat: none;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
}

header::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

header .container {
  position: relative;
  z-index: 2;
  padding: calc(var(--pt8) * 12) calc(var(--pt8) * 3);
}

header h1 {
  font-weight: bold;
  margin-bottom: calc(var(--pt8) * 4);
}

header h1,
header h4 {
  color: #ffffff;
}

header .viewmore {
  background-color: #47bb2a !important;
  color: #ffffff;
  border-color: #47bb2a;
  /* Font */
  text-transform: uppercase;
}

header .viewmore::after {
  background-color: #3ca123;
}

.viewmore i {
  transition: var(--ease-out-expo);
}

header .viewmore:hover.viewmore i {
  transform: rotate(-90deg);
}

.viewmore {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 3rem !important;
  background-color: #e6e6e6 !important;
  /* Font */
  font-size: 0.875rem !important;
}

.viewmore:hover {
  background-color: #dddddd !important;
}

.viewmore span {
  position: relative;
  z-index: 3;
}

.viewmore:hover.viewmore span {
  color: #ffffff;
}

.viewmore::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /* Transition */
  transition: var(--ease-out-expo);
}

.viewmore:hover:after {
  width: 100%;
}

@media (max-width: 770px) {
  header h1,
  header h4 {
    text-align: center;
  }

  header .viewmore {
    width: 100%;
  }

  .landingpage_logo {
    margin-bottom: 2.5px;
  }
}
   
/*Apple Watch (Parrity) 38mm 40mm 42mm*/
@media (max-width: 400px) {
  .slider .slide .info h2 {
    font-size: 1.2em;
    line-height: 40px;
    margin-left: 4px;
    margin-right: 2px;
  }

  .slider .slide .info p {
    font-size: 0.4em;
  }
}
