/* Global variables */
:root {
  /* 8pt grid */
  --pt8: 0.5rem;
  /* Transitions */
  --ease-out-expo: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  --ease-out-expo-slow: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Flex */
.flx {
  display: flex;
}

.flx-ai-c {
  align-items: center;
}

.flx-jc-c {
  justify-content: center;
}

.flx-jc-fs {
  justify-content: flex-start;
}

.flx-jc-fe {
  justify-content: flex-end;
}

body {
  font-family: "MinecraftiaRegular";
  font-weight: 1000;
}
.navbar {
  background: #537b3f;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.footer_icon {
  margin-left: auto;
  margin-right: auto;
  width: 3em;
  font-size: 28px;
  padding-top: 2px;
  padding-bottom: 16px;
  color: #000;
}
footer {
  margin: 0;
  background-color: var(--nav-bar-black);
  color: rgba(26, 24, 24, 0.8);
  text-align: center;
  padding: 1.85em;
}
.heading,
.info,
.btn,
.images,
.mcbuild_pic,
.mcbuild_info {
  margin-left: 5px;
}

.fa-discord {
  color: #7289da;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github {
  color: #24292e;
}

.fa-youtube {
  color: #ff0000;
}

.fa-twitter {
  color: #1da1f2;
}
