body {
  font-family: "MinecraftiaRegular";
  background: url(../Assets/Images/bg_bluehills.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* h1 {
  color: black;
  margin-top: 8px;
  text-align: center;
}

p {
  margin-top: 32px;
  margin-left: 8px;
  color: black;
} */

.contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 120px;
}
.contact .contactDetails{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact .contactDetails h2{
  margin-bottom: 10px;
}
.contact .contactDetails .icons{
  display: flex;
 
}
.contact .contactDetails .icons .icon{
  width: 40px;
  margin-right: 12px;
  margin: 16px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.contact .contactDetails .icons .icon:hover{
  transform: translateY(-5px);
}
.contact .contactForm{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
flex-direction: column;
}
.contact .contactForm form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}
.contact .contactForm h2{
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}
.contact .contactForm form input,.contact .contactForm form textarea{
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #222222;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-family:  'Raleway', sans-serif;
  outline: none;
  width: 80%;


}
.contact .contactForm form .btn{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 25px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 590;
  color: #080808;
  border-radius: 5px;


}
@media screen and (max-width:640px){


  .contact{
   
      padding: 120px 50px;
  }
  .contact .contactDetails{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  .contact .contactDetails h2{
      margin-bottom: 10px;
  }
  .contact .contactDetails .icons{
      display: flex;
      margin-top: 8px;
     
  }
  .contact .contactDetails .icons .icon{
      width: 30px;
      margin-right: 1px;
     align-items: flex-start;
      width: 20px;
     
     
      transition: all 200ms ease-in-out;
     
  }
  .contact .contactDetails .icons .icon:hover{
      transform: translateY(-5px);
  }
  .contact .contactForm{
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
  flex-direction: column;
  }
  .contact .contactForm form{
      padding: 0 10px;
  }
  .contact .contactForm h2{
      text-align: center;
      font-size: 24px;
      margin-bottom: 32px;
  }
  .contact .contactForm form input,.contact .contactForm form textarea{
      width: 90%;
  
  
  }
  .contact .contactForm form .btn{
      background-color: rgba(255, 255, 255, 0.3);
      padding: 4px 10px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #222222;
    
  
  }
}