body {
  font-family: "MinecraftiaRegular";
  
  background: url(../Assets/Images/background/bg_pinkhills.svg) no-repeat center center fixed;
  background-size: cover;
  color: black;
}
/* nav bar */
.nav-link {
  margin-right: 1em !important;
}

h1 {
  margin-top: 8px;
  text-align: center;
}

p {
  margin-top: 32px;
  margin-left: 8px;
}


.card {
  padding: 50px;
  border-radius: 4px;
  background: #ffb6c1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-weight: 600;
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-image: url(../Assets/Images/overlays/card_contributors.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  background-image: url(../Assets/Images/overlays/card_contributors.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  margin-top: 20px;
}

.card-3 {
  background-image: url(../Assets/Images/overlays/card_staff.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-4 {
  background-image: url(../Assets/Images/overlays/card_staff.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  margin-top: 20px;
}
@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

/*Apple Watch (Parrity) 40mm*/
@media (max-width: 395px) {
  .card {
    margin: 12px;
  }
}