body {
  font-family: "MinecraftiaRegular";
  background: url(../Assets/Images/bg_pinkhills.svg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

h1 {
  margin-top: 8px;
  text-align: center;
}

p {
  margin-top: 32px;
  margin-left: 8px;
}
